/*  ---------- Font-family ----------------- */
$ff : 'Nunito Sans', sans-serif;

/* ------------------- Colors -------------------- */
$dark-elements: hsl(209, 23%, 22%);
$dark-background: hsl(207, 26%, 17%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-elements: hsl(0, 0%, 100%);
$light-background: hsl(0, 0%, 98%);
$light-text-inputs: hsl(0, 0%, 52%);


/* ------------- Font-weight ------------ */
$normal: 300;
$bold: 600;
$bolder: 800;

/* ------------ box-shadow --------------------*/
$light-mode-shadow: 1px 3px 15px rgb(0,0,0,0.2);